<h1>Dashboard</h1>
<section id="postedBlogs"
{{#each blogs}}
<Section class="card">
    <a href="/blogs/{{id}}" class="card-body">
    <h3 class="card-title">{{title}}</h3>
    <h4> Posted on {{createdAt}}</h4>
    <p class="card-text">{{description}}</p>
    </a>
</Section>
{{/each}}
</section>

<section id="newBlog" class="card">
    <div class="card-body">
        <h3 class="'card-title">New Post</h3>
        <form id="createNewBlog">
            <div class="card-text"></div>
            <input type="text" id="title" placeholder="title">
            </div>
            <div class="card-text"></div>
            <textarea id="description" placeholder="content"></textarea>
            </div>
            <button id="create">create</button>
        </form>
    </div>
</section>
<form id="newPost">
    <button> New Post</button>
</form>

<script src="/js/dashboard.js"></script>