* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color:#efefef;
}
header, h1{
    background: color #a9a9a9;
    padding: 10px;
    color: #ff3b3f;
}
header a{
    margin: 15px;
    padding: 5px;
    color: #ff3b3f;
}


